<!DOCTYPE html>
<html>
    <head>
        <title>vulnerable app: {% block title %}{% endblock %}</title>

		<meta name="theme-color" content="#afafaf">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
		<div class="page">
        <h1><a href="/">vulnerable app</a></p></h1>
		{% if session.username %}
		<p>Hello, {{ session.username }}<br />
		<a href="/logout">Sign out</a></p>
		{% else %}
		<form action="/login" method="POST">
			<p>Username:<br />
			<input type="text" name="username"></p>
			<p>Password:<br />
			<input type="password" name="password"></p>
			<input type="submit" value="Sign in">
		</form>
		<p><a href="/register">Sign up</a></p>
		{% endif %}
		{% if session.role == 1 %}
		<p><a href="/del">Delete posts or comments</a></p>
		{% endif %}
		<hr>
			<div class="content">
        		{% block content %}{% endblock %}
			</div>
		</div>
    </body>
</html>